{% extends '::base.html.twig' %}

{% block body_title -%}
    Statement edit
{% endblock %}

{% block body -%}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('morus_fas_statement') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
