<h4 class="first">{{ 'export_step.registered_vehicle_list'|trans }}</h4>
{% for unit in units %}
<h4>{{ unit.name }}</h4>
<ul class="fas-vehicle-added-list">
{% for row in unit.vehicles|batch(4) %}
    <li>
    {% for vehicle in row %}
        {% if loop.index != 1 %} , {% endif %}
        {{ vehicle.registrationNumber }} 
    {% endfor %}
    </li>
{% endfor %}
</ul>
{% endfor %}