<h4 class="first">{{ 'export_step.registered_vehicle_list'|trans }}</h4>
{% for unit in units %}
<table class="fas-records-list">
    <tr>
    <thead><th>{{ unit.name }}</th></thead>
    </tr>
{% for row in unit.vehicles|batch(4) %}
    <tr>
        <td>
    {% for vehicle in row %}
        {% if loop.index != 1 %} , {% endif %}
        {{ vehicle.registrationNumber }} 
    {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
{% endfor %}