{% extends '::base.html.twig' %}

{% block body_title -%}
    Statement creation
{% endblock %}

{% block body -%}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('morus_fas_statement') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
