<stylesheet>
    <dynamic-page margin="25px 25px 25px 25px" >         
        <div class="doc" font-size="11px" color="black" font-type="helvetica">
            <!-- Header Company Info -->
            <div class="title"  margin="15px 0px 15px 0px" >
                <div class="company-chi-name" font-type="simsun" font-size="22px" color="black">
                </div>
                <div class="company-eng-name" font-type="helvetica" font-size="16px" >
                </div>
                <div class="company-address" font-size="12px" margin="0px 0px 10px 0px" >
                </div>
                <div class="company-email" font-size="10px" margin="0px 0px 5px 0px" >
                </div>
                <div class="company-tel" font-type="simsun" font-size="10px">
                </div>
            </div>

            <div class="double-line" border.type="top+bottom" height="2px" margin="5px 0px 5px 0px"/>
                
            <!-- Customer Section -->
            <!-- Customer Section -->
            <div class="customer-info" font-type="simsun" float="left" width="355px" height="100px" padding-left="35px" vertical-align="center">
                <div class="customer-name" margin="5px 0px 5px 0px" font-size="18px" ></div>
                <div class="customer-address" margin-bottom="15px"></div>
                <div class="customer-contact"></div>
            </div>
            <div class="invoice-info" font-type="simsun" float="right" width="330px" height="140px" text-align="right" >
                <div class="invoice-info-line" margin="3px 0px 3px 0px">
                    <div class="invoice-info-label" width="80px" float="right"/>
                    <div class="invoice-info-content" width="80px" float="right"/>
                </div>
            </div>
            
            <div class="space" height="15px" />
            
            <table class="invoice-header-table" font-type="simsun">
                <tr>
                    <td class="col1" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="center" height="15px" ></td>
                    <td class="col2" width="30px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="center" ></td>
                    <td class="col3" width="160px" border.color="black" border.type="top+bottom" border.size="2px" text-align="center" ></td>
                    <td class="col4" width="30px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="center" ></td>
                    <td class="col5" width="80px" border.color="black" border.type="top+bottom" border.size="2px" text-align="center" ></td>
                    <td class="col6" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="center" ></td>
                    <td class="col7" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="center" ></td>
                    <td class="col8" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="center" ></td>
                    <td class="col9" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="center" ></td>
                </tr>
            </table>
            
            <table class="invoice-vehcile-table" font-type="helvetica" font-size="11px">
                <tr>
                    <td class="col1" width="35px"  border.color="black" border.type="top+bottom" border.size="1px" height="14px" font-type="simsun"></td>
                    <td class="col2" width="30px"  border.color="black" border.type="top+bottom" border.size="1px" ></td>
                    <td class="col3" width="160px" border.type="none" ></td>
                    <td class="col4" width="30px"  border.color="black" border.type="top+bottom" border.size="1px" ></td>
                    <td class="col5" width="80px"  border.color="black" border.type="top+bottom" border.size="1px" ></td>
                    <td class="col6" width="35px"  border.color="black" border.type="top+bottom" border.size="1px" text-align="right" ></td>
                    <td class="col7" width="35px"  border.color="black" border.type="top+bottom" border.size="1px" text-align="right" ></td>
                    <td class="col8" width="35px"  border.color="black" border.type="top+bottom" border.size="1px" text-align="right" ></td>
                    <td class="col9" width="35px"  border.color="black" border.type="top+bottom" border.size="1px" text-align="right" ></td>
                </tr>
            </table>
            
            <table class="invoice-detail-table" font-type="helvetica" font-size="9px">
                <tr>
                    <td class="col1" width="35px"  border.type="none" ></td>
                    <td class="col2" width="30px"  border.type="none" ></td>
                    <td class="col3" width="160px" border.type="none" ></td>
                    <td class="col4" width="30px"  border.type="none" ></td>
                    <td class="col5" width="80px"  border.type="none" ></td>
                    <td class="col6" width="35px"  border.type="none" text-align="right" ></td>
                    <td class="col7" width="35px"  border.type="none" text-align="right" ></td>
                    <td class="col8" width="35px"  border.type="none" text-align="right" ></td>
                    <td class="col9" width="35px"  border.type="none" text-align="right" ></td>
                </tr>
            </table>
            
            <table class="invoice-total-table" >
                <tr>
                    <td class="col1" width="35px"  border.type="none" height="14px"></td>
                    <td class="col2" width="30px"  border.type="none" ></td>
                    <td class="col3" width="160px" border.type="none" ></td>
                    <td class="col4" width="30px"  border.color="black" border.type="top+bottom" border.size="2px" ></td>
                    <td class="col5" width="80px"  border.color="black" border.type="top+bottom" border.size="2px" ></td>
                    <td class="col6" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="right" ></td>
                    <td class="col7" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="right" ></td>
                    <td class="col8" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="right" ></td>
                    <td class="col9" width="35px"  border.color="black" border.type="top+bottom" border.size="2px" text-align="right" ></td>
                </tr>
            </table>
            
            
        </div>
          
    </dynamic-page>
</stylesheet>
