<pdf>
    <dynamic-page>
        Hello {{ name }}!
        <div color="red" font-type="新細明體">
            This text is red on pink backgroun into black border
            新細明體新細明體新細明體新細明體新細明體
        </div>
        <div color="black" font-type="綜藝體繁">
            This text is red on pink backgroun into black border
            綜藝體繁綜藝體繁綜藝體繁綜藝體繁綜藝體繁綜藝體繁
        </div>
    </dynamic-page>
    <dynamic-page encoding="UTF-8" font-type="新細明體">
        Hello {{ name }}, 新細明體新細明體新細明體新細明體新細明體
    </dynamic-page>
    <dynamic-page encoding="UTF-8" font-type="綜藝體繁">
        Hello {{ name }}, 儷字體系列儷字體系列儷字體系列
    </dynamic-page>
</pdf>